.homeScreen{
  background: rgb(17, 17, 17);
  color: azure;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
  display: flex;
}


.nav{
  min-width: 50vh;
  color: rgb(17, 17, 17);
}


.Header{
  padding-left: 40%;
  color: rgb(17, 17, 17);
}
